body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eceff1; /* Arkaplan rengini değiştirdim, isteğinize göre düzenleyebilirsiniz */
}

/* Kayıt formu stilini ayarlayın */
.register-form {
    width: 100%;
    max-width: 400px;
    padding: 1em;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif; /* Font stilini burada belirleyebilirsiniz */
}

/* Etiketleri ve giriş alanlarını stilize edin */
.register-form h2 {
    color: #333;
    text-align: center;
}

.register-form input[type='text'],
.register-form input[type='password'],
.register-form input[type='email'] { /* Email tipi için stil eklendi */
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Checkbox stilini ayarlayın */
.register-form input[type='checkbox'] {
    margin-right: 0.5em;
}

.register-form label {
    display: flex;
    align-items: center;
}

/* Kayıt ol butonunu stilize edin */
.register-form button[type='submit'] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin-top: 0.5em; /* Daha fazla boşluk için stil eklendi */
}

.register-form button[type='submit']:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;         /* Metin rengini kırmızı yapar */
    font-size: 1em;     /* Metin boyutunu ayarlar */
    margin: 10px 0;     /* Üst ve alttan boşluk ekler */
    padding: 5px;       /* İç boşluk ekler */
    background-color: #ffdddd; /* Arka plan rengini ayarlar */
    border: 1px solid #ffaaaa; /* Çerçeve rengini ve kalınlığını ayarlar */
    border-radius: 5px; /* Kenarları yuvarlak yapar */
  }