/* AdminSide.css */
.admin-sidebar {
  width: 150px;
  height: 90vh;
  position: fixed;
  left: 0;
  top: 18vh;
  background-color: hwb(8 27% 17%);
  color: white;
  padding: 15px;
  overflow-y: auto;
}

.active-link {
  /* Aktif link için ekstra stiller */
  background-color: white;
  color: black;
  padding: 10px;
}

.link {
  /* Pasif link için stiller */
  padding: 5px;
  border-bottom: 1px solid #444;
  text-decoration: none;
  color: white;
  display: block;
}

.link:hover {
  background-color: #555;
}

/* Diğer stilleriniz... */
