
.linkTo{
  text-decoration: none;
  color: #f8f9fa;
}

.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1205px; /* Sidebar genişliği */
  height: 6vh; /* Tam ekran yüksekliği */
  position: fixed; /* Sabit pozisyon */
  left: 0; /* Sol tarafa yasla */
  top: 7%; /* Üst tarafa yasla */
  background-color: #333; /* Koyu arka plan rengi */
  color: white; /* Metin rengi */
  padding: 15px; /* İç boşluk */
}

.search-bar {
  display: flex;
  align-items: center;
  margin-top: 14px
}

.search-bar input {
  padding: 5px 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
}

.search-bar button {
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.icon {
  margin-left: 20px;
  cursor: pointer;
}

/* Sidebar Container */
.navbar1 {
  width: 1250px; /* Sidebar genişliği */
  height: 2vh; /* Tam ekran yüksekliği */
  position: fixed; /* Sabit pozisyon */
  left: 0; /* Sol tarafa yasla */
  top: 0; /* Üst tarafa yasla */
  background-color: hwb(8 27% 17%); /* Koyu arka plan rengi */
  color: white; /* Metin rengi */
  padding: 15px; /* İç boşluk */
}
.navbar1-content {
  display: flex;
  align-items: center;
  text-align: center;
}

.navbar1-content span + span {
  margin-left: 20px; /* İlk span'dan sonraki her span için sola boşluk ekler */
}
.main{
  width: 1040px; 

  position: fixed; /* Sabit pozisyon */
  left: 190px; /* Sol tarafa yasla */
  top: 18vh; /* Üst tarafa yasla */
  padding-top: 20px; /* Üstten boşluk */
  margin-right: 20px; /* Sağdan boşluk */
  height: calc(85vh - 50px);
}
.main-content, .main {
  /* ... diğer stilleriniz */
  overflow-y: auto; /* İçerik yüksekliği container'ı aştığında dikey kaydırma çubuğu ekler */
}

.sidebar {
  width: 150px; /* Sidebar genişliği */
  height: 90vh; /* Tam ekran yüksekliği */
  position: fixed; /* Sabit pozisyon */
  left: 0; /* Sol tarafa yasla */
  top: 18vh; /* Üst tarafa yasla */
  background-color: hwb(8 27% 17%); /* Koyu arka plan rengi */
  color: white; /* Metin rengi */
  padding: 15px; /* İç boşluk */
  overflow-y: auto; /* Dikey kaydırma */
}
/* Sidebar Başlık */
.sidebar-header {
  padding: 15px 0; /* Üst ve alt boşluk */
  text-align: center; /* Başlığı ortala */
  border-bottom: 1px solid #444; /* Alt çizgi */
  margin-bottom: 10px; /* Alt öğelerden boşluk */
}

/* Sidebar Listesi */
.sidebar ul {
  list-style-type: none; /* Liste stili */
  padding: 0; /* Sıfır padding */
  margin: 0; /* Sıfır margin */
}

/* Sidebar Liste Öğesi */
.sidebar li {
  padding: 10px; /* İç boşluk */
  border-bottom: 1px solid #444; /* Alt çizgi */
  cursor: pointer; /* Fare imleci */
}

.sidebar li:hover {
  background-color: #555; /* Üzerine gelince arka plan rengi */
}

/* Sidebar Link */
.sidebar a {
  text-decoration: none; /* Alt çizgiyi kaldır */
  color: white; /* Metin rengi */
  display: block; /* Blok düzeyinde göster */
}

.sidebar-icon {
  margin-right: 10px; /* Simgeden sonra boşluk */
}



.icon {
  margin: 0 1rem;
  cursor: pointer;
}
.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Örnek arka plan rengi */
  padding: 0.5rem;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.navbar-icons {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  margin: 0 1rem;
  cursor: pointer;
}

.profile-icon {
  position: relative;
}

.profile-dropdown {
  position: absolute;
  top: 100%; /* İkonun altında */
  right: 0;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 200px; /* Ya da ihtiyaca göre ayarlayın */
  z-index: 1000;
}

.profile-dropdown .dropdown-item {
  padding: 1rem;
  color: black;
  text-decoration: none;
  display: block;
}

.profile-dropdown .dropdown-item:hover {
  background-color: #f8f9fa;
}

.profile-dropdown .dropdown-divider {
  height: 1px;
  margin: 0.5rem 0;
  overflow: hidden;
  background-color: #eceeef;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 sütun */
  gap: 20px; /* Öğeler arası boşluk */
}

.list-category {
  border: 1px solid #ccc; /* Kenarlık */
  border-radius: 10px; /* Kenar yuvarlaklığı */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Gölge efekti */
  margin: 10px; /* Çevresindeki boşluk */
  overflow: hidden; /* İçeriğin taşmasını önle */
  background: #fff; /* Arka plan rengi */
  display: flex; /* Flexbox kullan */
  flex-direction: column; /* Öğeleri dikey olarak sırala */
  justify-content: space-between; /* İçeriği eşit olarak dağıt */
  align-items: center; /* İçeriği yatay eksende ortala */
}

.card-img-top {
  width: calc(100% - 10px); /* Resmi kutuya sığdır, kenarlıkları çıkar */
  height: 150px; /* Sabit bir yükseklik belirle */
  object-fit: cover; /* Resmi kutuya sığacak şekilde kırp */
  margin: 5px; /* Resim etrafında boşluk bırak */
  border: 5px solid hsl(200, 2%, 35%);
  border-radius: 10px;
}

.card-body {
  padding: 15px; /* İç boşluk */
}

.card-title {
  font-size: 2rem; /* Başlık boyutu */
  margin-bottom: .5rem; /* Başlıktan sonra boşluk */
  font-weight: bold; 
  color: #333;
  align-items: center;
}

.card-text {
  font-size: .875rem; /* Metin boyutu */
  color: #666; /* Metin rengi */
  margin-bottom: 1rem; /* Metinden sonra boşluk */
}

.button {
  width: 100%;
  background-color: hwb(8 27% 17%);  /* Düğme arka plan rengi */
  color: white; /* Düğme metin rengi */
  border: none; /* Düğme kenarlığı kaldır */
  padding: 10px 20px; /* Düğme iç boşluğu */
  font-size: .900rem; /* Düğme metin boyutu */
  cursor: pointer; /* Fare imlecini düğme üzerine getir */
  transition: background-color 0.2s;
  margin-top: 30px; /* Arka plan rengi geçişi */
}

.button:hover {
  background-color: hwb(8 27% 17%);  /* Düğme üzerine gelince arka plan rengi */
}

/* Kargo bedava etiketi için stil */
.product-promo-label {
  position: absolute; /* Pozisyonlandırma */
  top: 10px; /* Üstten boşluk */
  left: 10px; /* Soldan boşluk */
  background-color: #ffc107; /* Arka plan rengi */
  color: #fff; /* Metin rengi */
  padding: 5px 10px; /* İç boşluk */
  border-radius: 5px; /* Kenar yuvarlaklığı */
  font-size: .75rem; /* Yazı boyutu */
}

/* Fiyat etiketi */
.product-price {
  font-size: 1.25rem; /* Fiyat yazı boyutu */
  color: #333; /* Fiyat yazı rengi */
  font-weight: bold; /* Yazı kalınlığı */
}

/* Ürün adı ve diğer metinler */
.product-name {
  font-size: 1rem; /* Ürün adı yazı boyutu */
  color: #333; /* Ürün adı yazı rengi */
}

/* Yıldızlar ve değerlendirme sayısı */
.product-rating {
  display: flex; /* Flexbox kullan */
  align-items: center; /* Öğeleri ortala */
}

/* Yıldız simgesi için stil */
.star-icon {
  color: #ffd700; /* Yıldız rengi */
  margin-right: .25rem; /* Yıldızdan sonraki boşluk */
}

/* Değerlendirme sayısı */
.rating-count {
  font-size: .875rem; /* Değerlendirme yazı boyutu */
  color: #666; /* Değerlendirme yazı rengi */
}

/* Kupon fırsatı etiketi */
.coupon-label {
  background-color: #dc3545; /* Arka plan rengi */
  color: #fff; /* Metin*/
}